<h1>About</h1>
<p>Ici on pourra mettre du texte sur l'appli tout ça tout ça.</p>

<h1>Crédits</h1>
<p>Ici on pourra mettre du texte sur la Wild Code School tout ça tout ça.</p>

<h1>Mentions Légales</h1>
<p>Ici on pourra mettre du texte sur les mentions légales tout ça tout ça.</p>

<div class="testForm">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Form Name</legend>


            <!-- Button Drop Down -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="buttondropdown">Button Drop Down</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder" type="text">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Action
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Option one</a></li>
                                <li><a href="#">Option two</a></li>
                                <li><a href="#">Option three</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Text Input</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Text Input</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Text Input</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
                    <span class="help-block"></span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
                <div class="col-md-4">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>