<div class="header">
    <h1><strong>L</strong>es <strong>P</strong>lats</h1>
</div>

<!-- Bloc 1 : Ajout / Recherche -->
<div class="container big" set-class-when-at-top="fix-to-top">
    <div class="row" style="text-align:center;">

        <!-- Bouton ajoute de plat -->
        <div class="addPlatField col-md-6">
            <h2>Ajouter un plat</h2>
            <button type="button" class="btn btn-info btn-lg modal-add-btn" data-toggle="modal" data-target="#myModal">Ajouter</button>
        </div>

        <!-- Champs de recherche / tri -->
        <div class="plat-field col-md-6">
            <h2> Chercher un plat</h2>
            <div class=" searchingplats">
                <input class="searchInput" type="text" ng-model="query" placeholder="Entrer nom de plat" />
                <select ng-model="plat" class="platBy" style="color:black;">
                    <option value="" disabled selected hidden>Trier par</option>
                    <option value="description">Organiser par nom</option>
                    <option value="note">Organiser par note</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- Modale ajout de plat -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un plat</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" class="form-control firstPart" id="inputMessage" placeholder="Titre" ng-model="description">
                    <input type="text" class="control firstPart" id="inputMessage" placeholder="Date dernier repas jj/mm/AAAA" ng-model="date">
                </div>
                <div style="text-align:center;">
                    <form>
                        <input class="parcourir" type='file' ng-model='imageFile' base-sixty-four-input onchange="angular.element(this).scope().previewFile(this)">
                    </form>
                    <img id="preview" style="margin-top:30px;" src="{{plat.image || '../food.png'}}">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default addbutton1" ng-click="add()" style="float:right;">Ajouter</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<!-- Liste des plats -->
<ul class="list-group">
    <li class="list-group-item" ng-repeat="plat in plats | filter:{description: query} | orderBy:plat">
        <form class=" form-inline">
            <div class="form-group secondForm">
                <img class="imgAdd" src="{{plat.image || '../food.png'}}" />
                <div class="listInput">
                    <input type="text" class="form-control secondPart firstChild" id="inputMessage" ng-model="plat.description" placeholder="Nom du plat">
                    <input type="text" class="form-control secondPart" id="inputMessage" ng-model="plat.date" placeholder="Date dernier repas">

                    <input type="text" class="form-control secondPart" id="inputMessage" ng-model="plat.note" placeholder="Note du plat">
                    <input type="text" class="form-control secondPart" id="inputMessage" ng-model="plat.commentaires" placeholder="Commentaire sur le plat">
                </div>
                <span class="upDel">
                <button type="submit" class="btn btn-default recetteButton" class="btn btn-info btn-lg modal-add-btn" data-toggle="modal" data-target="#{{plat._id}}">Recette</button>
                <button type="submit" class="btn btn-default addbutton1" ng-click="update(plat)">Mettre à jour</button>
                <button type="submit" class="btn btn-danger" ng-click="delete(plat)">X</button>
                </span>
            </div>
        </form>
    </li>
</ul>

<!-- Modale fiche plats -->
<div class="modal fade" ng-repeat="plat in plats | filter:{description: query} | orderBy:plat" id="{{plat._id}}" role=" dialog">
    <div class="modal-dialog modal-lg hmm">
        <div class="modal-content2" style="text-align:center;">
            <div class="modal-header2" ng-style="{ 'background-image': 'url({{plat.image}})'}">
                <h2 class="modal-title2">{{plat.description}}</h2>
            </div>
            <div class="modal-body">
                <div class="row subPart">
                    <h3>Ingrédients</h3>
                    <input type="button" id="more_fields" ng-click="add_fields()" value="Ajouter un ingrédient" />
                    <div id="room_fileds">
                        <div class="content" id="wrapper">
                            <input type="text" class="ingType" style="width:177px;" name="width[]" value="" placeholder="ingrédient" ng-model="plat.ingredient" />
                        </div>
                        <button type="submit" class="btn btn-default addbutton" ng-click="addb(); update(plat)">Enregistrer</button>
                    </div>
                </div>
                <div class="row subPart">
                    <h3>Préparation</h3>
                    <div class="form-group recipe">
                        <textarea class="form-control recipeSub" rows="5" id="inputMessage" ng-model="plat.recipe" placeholder="Entrer recette"></textarea>
                        <button type="submit" class="btn btn-default addbutton" ng-click="addb(); update(plat)">Mettre à jour</button>
                    </div>
                </div>
                <div class="row subPart">
                    <h3>Commentaires</h3>
                    <div class="form-group recipe">
                        <textarea class="form-control recipeSub yo" rows="5" id="inputMessage" ng-model="plat.recipeComment" placeholder="Entrer un commentaire sur la recette"></textarea>
                        <button type="submit" class="btn btn-default addbutton" ng-click="addb(); update(plat)">Mettre à jour</button>
                    </div>
                </div>
                <div class="row subPart">
                    <h3>Lien vers recette ?</h3>
                    <div class="form-group recipe">
                        <textarea class="form-control recipelink" rows="5" id="inputMessage" ng-model="plat.recipeLink" placeholder="Lien vers recette"></textarea>
                        <button type="submit" class="btn btn-default addbutton" ng-click="addb(); update(plat)">Mettre à jour</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal-footer2" style="text-align:right;">
                <button type="submit" class="btn btn-default addbutton" ng-click="addb(); update(plat)">Mettre à jour</button>
                <button type="button" class="btn btn-default closebutton" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>