<div class="header">
    <h1><strong>L</strong>es <strong>S</strong>oirées</h1>
</div>
<div class="container big">
    <div class="row" style="text-align:center;">
        <div class="addPlatField col-md-6">
            <h2>Ajouter une soirée</h2>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg modal-add-btn" data-toggle="modal" data-target="#myModal">Ajouter</button>
        </div>

        <div class="plat-field col-md-6">
            <h2> Chercher une soirée</h2>
            <div class=" searchingplats">
                <input class="searchInput" type="text" ng-model="query" placeholder="Entrer nom de soirée" />
                <select ng-model="soiree" class="soireeBy" style="color:black;">
                    <option value="" disabled selected hidden>Trier par</option>
                    <option value="description">Organiser par nom</option>
                    <option value="note">Organiser par date</option>
                </select>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter une soirée</h4>
            </div>

            <div class="modal-body" ng-if="i==1">
                <div class="row">
                    <input type="text" class="form-control firstPart" id="inputMessage" placeholder="Titre" ng-model="description">

                    <input type="text" class="control firstPart" id="inputMessage" placeholder="Date de la soirée jj/mm/AAAA" ng-model="date">
                </div>
                <div style="text-align:center;">
                    <form>
                        <input class="parcourir" type='file' ng-model='imageFile' base-sixty-four-input onchange="angular.element(this).scope().previewFile(this)">
                    </form>

                    <img id="preview" style="margin-top:30px;" src="{{soiree.image || 'http://i.istockimg.com/file_thumbview_approve/31297488/6/stock-illustration-31297488-party-and-celebration-icon-set-.jpg'}}">

                </div>
            </div>

            <div class="modal-body" ng-if="i==2">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Invités</h3>
                        <ul style="list-style: none;">

                            <li ng-repeat="invite in invites">
                                <input type="checkbox" ng-model="invite.description[0]" ng-click="addToSoireesInvites(invite)" ng-true-value="invite.description" ng-false-value="''"> {{invite.description}}</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Plats</h3>
                        <ul style="list-style: none;">
                            <li ng-repeat="plat in plats">
                                <input type="checkbox" ng-model="plat.description[0]" ng-click="addToSoireesPlats(plat)" ng-true-value="plat.description" ng-false-value= "''"> {{plat.description}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="precedent(i)" style="float:right;" ng-hide="i==1">Précédent</button>
                <button class="btn btn-default addbutton1" ng-click="suivant(i)" style="float:right;" ng-hide="i==2">Suivant</button>
                <button type="submit" class="btn btn-default recetteButton" ng-click="add()" style="float:right;">Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>

    </div>

</div>


</div>

<br>
<br>


<ul class="list-group">
    <li class="list-group-item" ng-repeat="soiree in soirees | filter:{description: query} | orderBy:soiree">
        <form class=" form-inline">
            <div class="form-group secondForm">
                <img class="imgAdd" src="{{soiree.image || 'http://i.istockimg.com/file_thumbview_approve/31297488/6/stock-illustration-31297488-party-and-celebration-icon-set-.jpg'}}" />
                <div class="listInput">
                    <input type="text" class="form-control secondPart firstChild" id="inputMessage" ng-model="soiree.description" placeholder="Nom de la soirée">
                    <input type="text" class="form-control secondPart" id="inputMessage" ng-model="soiree.date" placeholder="Date de la soirée">
                </div>

                <span class="upDel">
                    <button type="submit" class="btn btn-default recetteButton" class="btn btn-info btn-lg modal-add-btn" data-toggle="modal" data-target="#{{soiree._id}}">Détails</button>
                    <button type="submit" class="btn btn-default addbutton1" ng-click="update(soiree)">Mettre à jour</button>
                    <button type="submit" class="btn btn-danger" ng-click="delete(soiree)">X</button>
                </span>
            </div>
        </form>
    </li>
</ul>

<div class="modal fade" ng-repeat="soiree in soirees | filter:{description: query} | orderBy:soiree" id="{{soiree._id}}" role=" dialog">
    <div class="modal-dialog modal-lg hmm">
        <div class="modal-content2" style="text-align:center;">
            <div class="modal-header2" ng-style="{ 'background-image': 'url({{soiree.image || 'http://i.istockimg.com/file_thumbview_approve/31297488/6/stock-illustration-31297488-party-and-celebration-icon-set-.jpg'}})'}">
                <h2 class="modal-title2">{{soiree.description}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Invités</h3>
                    <ul style="list-style: none;" ng-model="invite.description[0]" ng-repeat="invite in invites">
                        <li>{{invite.description}}</li>
                    </ul>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <h3>Plats</h3>
                        <ul style="list-style: none;" ng-model="plat.description[0]" ng-repeat="plat in plats">
                            <li>{{plat.description}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer2" style="text-align:right;">

                <button type="button" class="btn btn-default closebutton" data-dismiss="modal">Fermer</button>
                <!--                <button type="submit" class="btn btn-default" ng-click="update(soiree)">Mettre à jour</button>-->
                <!--                <button type="submit" class="btn btn-danger" ng-click="delete(soiree)">X</button>-->


            </div>
        </div>
    </div>
</div>