@font-face {
    font-family: 'lobster';
    src: url('font/Lobster_1.4.otf');
}

body {
    /*margin: 0 auto;
    padding: 0 auto;*/
    overflow-x: hidden;
    background-color: lightgoldenrodyellow;
}

.navbar {
    height: 10%;
    box-shadow: 1px 0px 2px white;
}

.nav > li > a {
    transition: 0.4s;
    color: black;
    font-family: 'lobster';
}

.nav > li > a:focus,
.nav > li > a:hover {
    color: white;
    background-color: black;
}

a:active {
    outline: 0;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.imgAdd {
    width: 120px;
    height: 87px;
    box-shadow: 1px 1px 3px black;
    transition: 0.5s;
}

.imgAdd:hover {
    transform: scale(1.5);
    z-index: 999;
}

.listInput {
    display: inline-block;
    padding-top: 10px;
}

.upDel {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

#preview {
    width: 120px;
    height: 87px;
    box-shadow: 1px 1px 3px black;
}

.header {
    height: 300px;
    background-color: black;
    width: 100%;
    margin-top: -40px;
    text-align: center;
}

h1 {
    font-family: 'lobster';
    width: 100%;
    color: white;
    padding-top: 100px;
    font-size: 4em;
    text-shadow: 0px 0px 30px grey;
}

.big {
    box-shadow: 1px 0px 3px black;
    background-color: white;
}

.platAdd {
    margin-left: 50%;
    transform: translateX(-50%);
    height: 330px;
    padding-top: 20px;
    width: 70%;
}

.platAdd > h2 {
    text-align: center;
}

.imgForm {
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-30%);
}

input[type="file"] {
    margin-top: 10px;
    display: inline-block;
    left: 0;
}

.btn {
    padding: 0;
    margin-left: 10px;
}

.firstPart {
    margin-left: 5%;
    padding-left: 0px;
    width: 90%;
    box-shadow: none;
    border: none;
    border-bottom: 1px black solid;
    border-radius: 0px;
}

.plat-field {
    margin-top: -20px;
    text-align: center;
    margin-bottom: 20px;
}

.plat-field > h2 {
    margin-bottom: 10px;
}

.searchInput {
    border-radius: 0px;
    box-shadow: none;
}

.button,
input,
select,
textarea {
    border-radius: 4px;
}

.list-group-item {
    border: none;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

.btn-default {
    background-color: darkgreen;
    border: none;
    padding: 0px 4px 0px 4px;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 2px black;
}

.btn-default:hover {
    color: white;
    background-color: lightgreen;
}

.secondForm {
    padding-right: 5px;
    box-shadow: 1px 1px 3px black;
}

.secondPart {
    text-align: center;
}

input#inputMessage .form-control.secondPart..ng-pristine.ng-valid.ng-not-empty.ng-touched {
    box-shadow: none;
}

.form-control {
    border-radius: 0px;
}

.btn-danger {
    padding: 0px 4px 0px 4px;
    border: none;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 2px black;
}

.testForm {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.2);
    padding: O;
    margin: O;
}